params {
    //txpat2="full-splice_match"

    txdir="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/bed.0-500.short"

    txlist="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/bed.0-500.short.10.list"
    
    bamfile = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/data/revio_sample1B.scisoseq.mapped.bam"
    infocsv = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/data/revio_sample1B.scisoseq.annotated.info.csv"

    rseqcout = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/rseqc_output"
    moleculeout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/molecules_output"
    genebodyout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/geneBodyCoverage_output"
    emptylistout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/results/PBMC_MASseq_YL/nf-single_tx_geneBodyCoverage/paper_scripts/revio_sample1B/test_version/run3/emptylist_output"
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    name='slurm'
    queueSize=100
    pollInterval='2 min'
    queueStatInterval='2 min'
    exitReadTimeout='10 min'
    dumpInterval='2 min'
}

process {
    queue='ei-short'
    memory='5G'
    cpus = 1
    
    // user needs to compile their own modified version of RSeQC singularity image.
    withLabel:singularity_eimap {
        container = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/scratch/CB-MAS-Seq_figure_yl/Software/RSeQC/5.0.1_mod/RSeQC_mod.ubuntu.img"
    }
}
timeline {
  enabled = true
  overwrite = true
}
report {
  enabled = true
  overwrite = true
}
trace {
  enabled = true
  overwrite = true
}
