params {
    txpat2="full-splice_match"
    sample="revio_sample2A"
    length_range="0-500"

    txdir="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/BEDs/trans.0-500"

    txlist="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/trans.0-500.short.list"
    
    bamfile = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Analysis/Paper_figures/PacBio/transBody_coverage/shared_data/revio_sample2A.scisoseq.mapped.bam"
    reffile = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Analysis/Paper_figures/PacBio/transBody_coverage/shared_data/gencode.v39.annotation.coding.CDS.bed"
    infocsv = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/revio/sample2A/Data_Package_B20230721/Lydia_Pouncey_EI_LP_ENQ-5683_B_01_B20230721-MAS-Seq/r84049_20230711_153359-1_C01/A82776_R1107-S0001_MASSeq2ARedo/scisoseq.annotated.info.csv"

    rseqcout = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/rseqc_output"
    moleculeout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/molecules_output"
    genebodyout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/geneBodyCoverage_output"
    emptylistout="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/Paper_round2.YL/Software/nf-single_tx_geneBodyCoverage/git/issue_1/PB.data/emptylist_output"
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    name='slurm'
    queueSize=200
    pollInterval='2 min'
    queueStatInterval='2 min'
    exitReadTimeout='5 min'
    dumpInterval='2 min'
}

process {
    queue='ei-compute'
    memory='5G'
    cpus = 1
    time = '2h'

    withName: ExtractMoleculeBam {
        cpus = 4
        queue='ei-compute'
        memory='50G'
        time = '2h'
    }

    withLabel:singularity_eimap {
        container = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/scratch/CB-MAS-Seq_figure_yl/Software/RSeQC/5.0.1_mod/RSeQC_mod.ubuntu.img"
    }
}
timeline {
  enabled = true
  overwrite = true
}
report {
  enabled = true
  overwrite = true
}
trace {
  enabled = true
  overwrite = true
}
